/* */

a{
    cursor:pointer;
}

.loading{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    background-color: rgba(64,64,64,0.5);
    color: #ffffff;
}

.carousel-indicators {
    display:none;
}

.carousel-control {
    display:none;
}

.question{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 34.210526% 7.6315789% 33.947368% 8.1578947% ;
    background: transparent;
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
}

.question div{
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 5%;
    background:#ececec;
    width: 100%;
    height: 100%;
}
/* preview */
.previews{
    transition:left 1s;
    -webkit-transition:left 1s; /* Safari */
}

.bg_overlay{
    width: 100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color:black;
    opacity: 0.5;
    z-index:0;
}

.fg_overlay{
    width: 100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    margin:auto;
    z-index: 100;
}

.fg_overlay .screen{
    position:relative;
    width:100%;
    height:100%;
}

.fg_overlay .screen .screen_bg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.fg_overlay .screen .top_area{
    position:absolute;
    background:white;
    top:0;
    width: 100%;
}

.fg_overlay .screen .top_area .bottom_line{
    position:absolute;
    background:#ececec;
    bottom:0;
    height: 2px;
    width: 100%;
}

.fg_overlay .screen .bottom_area{
    position:absolute;
    bottom:0;
    width: 100%;
}

.fg_overlay .screen .bottom_area .left_button{
    float:left;
    margin:3px;
}

.fg_overlay .screen .bottom_area .right_button{
    float:right;
    margin:3px;
}

.fg_overlay .screen .bottom_area .progress_bar{
    clear:both;
    height:6px;
    margin:3px;
}

/* screen */
.nav_head{
    width:100%;
    text-align: center;
}

.preview_content{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* animation */
.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    bottom: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    bottom: -50px;
    height: 0px;
}

/*.brand*/
/*{*/
    /*background: url("../img/inner/cs_logo.png") no-repeat left center;*/
    /*height: 8px;*/
    /*width: 100px;*/
/*}*/

/* nav */
.navbar .nav.pull-center {
    float:none;
    margin: 0 auto;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: top;
}
.navbar-inner { text-align:center; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
