<!DOCTYPE html>
<html ng-app="usercafe" ng-controller="rootController">
<head>
	<title>User Cafe AD Admin</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
	<script src="/js/lib/underscore-min.js"></script>
	<script src="/js/lib/ui-bootstrap-tpls-0.4.0.min.js"></script>
	<script src="/js/lib/imageupload.js"></script>
	<script src="/js/utils/dialog.js"></script>
	<script src="/js/utils/login.js"></script>

	<script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="../resource/css/lib/ng-grid.min.css" />
	<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/simplex/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		a{
			cursor:pointer;
		}
	</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="brand">User Cafe AD Admin</div>
			<form class="navbar-form pull-right">
				{% if email %}
				<button type="submit" class="btn" ng-click="logout()">Log out</button>
				{% else %}
				<button type="submit" class="btn" ng-click="login()">Log in</button>
				{% endif %}
			</form>
			{% if email %}
			<p class="navbar-text pull-right" style="margin-right: 20px;">{{ email }}</p>
			{% endif %}
		</div>
	</div>
</div>

{% if valid %}
{% raw %}
<div class="container" style="margin-top: 60px">
	<table ng-cloak class="table">
		<thead>
		<tr>
			<th>Enable</th>
			<th>Title</th>
			<th>Response Count</th>
			<th>Banner Image</th>
			<th>Re-Convert</th>
			<!--<th>Delete</th>-->
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="ad in ads">
			<th><input type="checkbox" ng-model="ad.enabled" ng-change="add_change_idx($index)"></th>
			<th><a ng-href="{{ ad.url }}" target="_blank">{{ ad.title }}</a></th>
			<th><a ng-click="loadResponse($index)">{{ ad.response_cnt }}</a></th>
			<th>
				<div ng-repeat="banner in ad.banner">
					<img style="max-width: 300px;" ng-src="{{ banner }}"/> <a ng-click="deleteBanner(ad,$index)"><i class="icon-trash"></i></a>
				</div>
				<button class="btn" ng-click="uploadPic($index)">Upload Photo</button>
			</th>
			<th><a ng-click="updateSurvey($index)"><i class="icon-repeat"></i></a></th>
			<!--<th><a ng-click="deleteSurvey($index)"><i class="icon-trash"></i></a></th>-->
		</tr>
		</tbody>
	</table>
	<button class="btn pull-right btn-primary" ng-click="uploadAd()" style="margin-left: 60px">Upload Survey</button>
	<button class="btn pull-right btn-danger" ng-show="change_idx.length != 0" ng-click="saveChanged()">Save Changes</button>
	<hr/>
</div>
{% endraw %}
{% elif email %}
<div class="container" style="margin-top: 60px">
	<h1>You are not allowed.</h1>
</div>
{% else %}
<div class="container" style="margin-top: 60px">
	<h1>Please login!</h1>
</div>
{% endif %}
</body>
</html>