<div ng-controller="NewSurveyViewController">
	<h3 translate="NEW_SURVEY_TITLE"></h3>
	<div class="progress">
		<div class="bar" ng-style="{'width':1+step*33+'%'}"></div>
	</div>
	<div class="row-fluid text-center">
		<div ng-class="step == 1 ? 'span4' : 'span4 muted'">
			<small translate="NEW_SURVEY_UPLOAD"></small>
		</div>
		<div ng-class="step == 2 ? 'span4' : 'span4 muted'">
			<small translate="NEW_SURVEY_PREVIEW"></small>
		</div>
		<div ng-class="step == 3 ? 'span4' : 'span4 muted'">
			<small translate="NEW_SURVEY_FINISH"></small>
		</div>
	</div>
	<br/>
	<div ng-switch on="step">
		<div ng-switch-when="1">
			<!--<ol>-->
				<p translate="NEW_SURVEY_CONVERT_GOOGLE"></p>
				<p><button class="btn" type="button" ng-click="openConvertDialog()" translate="NEW_SURVEY_CONVERT"></button></p>
				<!--<br/>-->
				<!--<li>Quick apply a template</li>-->
			<!--</ol>-->
		</div>
		<div ng-switch-when="2">
			<div style="text-align: right">
				<div class="btn-group" style="margin-bottom: 10px;">
					<button class="btn" ng-click="changeStep(step-1)"><i class="icon-arrow-left"></i> <span translate="NEW_SURVEY_PREV"></span>
					</button>
					<button class="btn" ng-click="changeStep(step+1)"><span translate="NEW_SURVEY_NEXT"></span> <i class="icon-arrow-right"></i></button>
				</div>
			</div>

			<div ng-include src="'survey_preview.html'"></div>
		</div>
		<div ng-switch-when="3">
			<p class="lead" translate="NEW_SURVEY_SUCCESS"></p>
			<p><span translate="NEW_SURVEY_NAME"></span> : <strong>{{ name }}</strong></p>
			<p><span translate="NEW_SURVEY_ID"></span> : <code>{{ survey_id }}</code></p>
			<button class="btn btn-success" ng-click="backToList()" translate="NEW_SURVEY_BACK"></button>
			<!--<p>Pick Audience :</p>-->
			<!--<label class="radio">-->
				<!--<input type="radio" ng-model="surveyFilter" value="0" checked>-->
				<!--No filter-->
			<!--</label>-->
			<!--<label class="radio">-->
				<!--<input type="radio" ng-model="surveyFilter" value="1" checked>-->
				<!--Filter from demographic info-->
			<!--</label>-->
			<!--<div ng-show="surveyFilter == 1" class="well">-->
				<!--<div class="row-fluid">-->
					<!--<div class="span9">-->
						<!--<a ng-show="gender.selected==true" class="btn" ng-click="gender.selected=false" ng-repeat="gender in genders">-->
							<!--<i class="icon-remove"></i>Gender : {{ gender.name }}-->
						<!--</a>-->
						<!--<a ng-show="age.selected==true" class="btn" ng-click="age.selected=false" ng-repeat="age in ages">-->
							<!--<i class="icon-remove"></i>Age : {{ age.name }}-->
						<!--</a>-->
						<!--<a ng-show="occupation.selected==true" class="btn" ng-click="occupation.selected=false" ng-repeat="occupation in occupations">-->
							<!--<i class="icon-remove"></i>Occupation : {{ occupation.name }}-->
						<!--</a>-->
					<!--</div>-->
					<!--<div class="divider-vertical"></div>-->
					<!--<div class="span3 text-center">-->
						<!--<p>Audience number</p>-->
						<!--<h2>102</h2>-->
					<!--</div>-->
				<!--</div>-->
				<!--<hr/>-->
				<!--<div>-->
					<!--<strong>Select Gender</strong>-->
					<!--<br/>-->
					<!--<label class="checkbox inline" ng-repeat="gender in genders">-->
						<!--<input type="checkbox" ng-model="gender.selected">{{ gender.name }}-->
					<!--</label>-->
					<!--<br/><br/>-->
					<!--<strong>Select Age</strong>-->
					<!--<br/>-->
					<!--<label class="checkbox inline" ng-repeat="age in ages">-->
						<!--<input type="checkbox" ng-model="age.selected">{{ age.name }}-->
					<!--</label>-->
					<!--<br/><br/>-->
					<!--<strong>Select Age</strong>-->
					<!--<br/>-->
					<!--<label class="checkbox inline" ng-repeat="occupation in occupations">-->
						<!--<input type="checkbox" ng-model="occupation.selected">{{ occupation.name }}-->
					<!--</label>-->
				<!--</div>        &lt;!&ndash; gender &ndash;&gt;-->
			<!--</div>      &lt;!&ndash; filter &ndash;&gt;-->
			<!--<p>-->
				<!--<button class="btn" type="button" ng-click="step = step - 1">Previous Step</button>-->
				<!--<button class="btn" type="button" ng-click="step = step + 1">Next Step</button>-->
			<!--</p>-->
		</div>
	</div>
</div>