<div class="modal">
	<div class="modal-header">
		<h3 translate="APP_ADD_NEW_APP_TITLE"></h3>
		</div>
	<div class="modal-body">
		<p class="text-center" translate="APP_ADD_NEW_APP_DESC"></p>
		<form class="form-horizontal" name="addAppForm">
			<div class="control-group">
				<label class="control-label" translate="APP_SETTING_APP_NAME"></label>
				<div class="controls">
					<input type="text" ng-model="app.name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" translate="APP_SETTING_APP_SYSTEM"></label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" name="os" ng-model="app.os" value="Android">Android
					</label>
					<label class="radio inline">
						<input type="radio" name="os" ng-model="app.os" value="iOS">iOS
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" translate="APP_SETTING_APP_URL"></label>
				<div class="controls">
					<input type="url" ng-model="app.url" placeholder="ex: https://play.google.com/store/apps/details?id=com.google.android.gm">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" translate="APP_SETTING_APP_CATEGORY"></label>
				<div class="controls">
					<select ng-model="app.category"></select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" translate="APP_SETTING_APP_PRICE"></label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" name="price" ng-model="app.price" value="Free">
						<div translate="APP_SETTING_APP_FREE"></div>
					</label>
					<label class="radio inline">
						<input type="radio" name="price" ng-model="app.price" value="Paid">
						<div translate="APP_SETTING_APP_PAID"></div>
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="addApp()" translate="APP_ADD_NEW_APP_SAVE"></button>
		<button class="btn" ng-click="closeDialog()" translate="APP_ADD_NEW_APP_CANCEL"></button>
	</div>
</div>