<div style="overflow: auto;">
	<div class="page-header">
		<h1>Android</h1>
	</div>

	<legend>Download SDK</legend>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Version</th>
			<th>Package</th>
			<th>Size</th>
			<th>Notes</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>1.0.0</td>
			<td>aaa</td>
			<td>222</td>
			<td>333</td>
		</tr>
		</tbody>
	</table>
	<legend name="tutorial">Tutorial</legend>
	<ol>
		<li>Import <b>UserCafeCore_xxx.jar</b>.</li>
		<li>Add a <b>Activity</b> in <code>AndroidManifest.xml</code>.
			<pre>&lt;activity
    android:name="com.usercafe.core.SurveyActivity"
    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
    android:process=":usercafe_activity" /&gt;</pre>
		</li>
		<li>Call <b>AppCreate</b> in first <code>onCreate</code>
			<pre>UserCafe.sharedInstance().AppCreate(Context context, String appId, PluginType[] plugins);</pre>
			<dl class="dl-horizontal">
				<dt>context</dt>
				<dd>Android context</dd>
				<dt>appId</dt>
				<dd><b>AppId</b> in UserCafe website</dd>
				<dt><span class="label label-warning">Not open</span> plugins</dt>
				<dd>The functionality is not ready, you can pass <b>NULL</b> directly.</dd>
			</dl>
		</li>
		<li>If you want to open survey, call <b>getIntent</b> to create a survey intent. Then use <code>startActivityForResult</code> to open a activity.
			<pre>UserCafe.sharedInstance().getIntent(Context context, String surveyId);</pre>
			<dl class="dl-horizontal">
				<dt>context</dt>
				<dd>Android context</dd>
				<dt>surveyId</dt>
				<dd><b>SurveyId</b> in UserCafe website</dd>
			</dl>
		</li>
		<li>You can use <code>resultCode</code> to realize if survey is completed or not.
			<table class="table table-bordered">
				<caption>Possible result list</caption>
				<thead>
				<tr>
					<th>Code</th>
					<th>Value</th>
					<th>Notes</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>OK</td>
					<td>-1</td>
					<td>Survey is completed.</td>
				</tr>
				<tr>
					<td>USER_STOP</td>
					<td>0</td>
					<td>User stop to fill survey.</td>
				</tr>
				<tr>
					<td>INVALID_KEY</td>
					<td>1</td>
					<td>The <b>AppId</b> or <b>SurveyId</b> is invalid.</td>
				</tr>
				<tr>
					<td>NETWORK_ERROR</td>
					<td>2</td>
					<td>User cannot connect to UserCafe server now.</td>
				</tr>
				<tr>
					<td>SERVER_ERROR</td>
					<td>3</td>
					<td>UserCafe server is in maintenance</td>
				</tr>
				<tr>
					<td>ALREADY_FILLED</td>
					<td>4</td>
					<td>If you set that the survey does not allow to fill twice, we will return these result code.</td>
				</tr>
				</tbody>
			</table>
		</li>
	</ol>
	<legend>Advanced Functionality</legend>

</div>