<div class="container">
	<ul class="breadcrumb" style="position: fixed;">
		<li><a href="#/myapp">Apps</a> <span class="divider">></span></li>
		<li ng-class="breadcrumb_app_active"><a ng-click="select_tab(0)">{{ currentApp.name }}</a></li>
		<li ng-show="page_index == 3" class="active"> <span class="divider">></span>{{ previewItem.title }}</li>
		<li ng-show="page_index != 3" class="active"> <span class="divider">></span>{{ pages[page_index].title }}</li>
	</ul>
	<div ng-switch on="page_index != 3" ng-animate="{enter: 'animated fadeInRight'}" style="margin-top:50px;">
		<div class="row" ng-switch-when="true">
			<div class="span3" style="position: fixed;" >
				<div class="btn-group" style="margin-bottom: 30px;" ng-cloak>
					<button class="btn btn-large">{{ currentApp.name }}</button>
					<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
						<span class="caret" ></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="app in apps">
							<a ng-click="selectApp(app)">{{app.name}}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a ng-click="openAddAppDialog()" translate="APP_OVERVIEW_ADD"></a>
						</li>
					</ul>
				</div>
				<button class="btn btn-primary btn-block" style="margin-bottom: 10px;" ng-click="select_tab(2)" translate="APP_SIDE_CREATE" ng-cloak ng-show="role!='viewer'"></button>
				<!-- side bar -->
				<tabset vertical="true" type="'tabs'">
					<tab ng-repeat="tab in tabs" select="select_tab($index)" active="tab.active">
						<tab-heading ng-style="{color:{true: '#2fcdb4', false: 'gray'}[tab.active]}" >
							<img ng-src="{{ {true: tab.active_img, false: tab.inactive_img }[tab.active] }}"
							     style="margin-right: 10px;"
							     width="37" height="37">{{tab.title}}
						</tab-heading>
					</tab>
				</tabset>
				<div class="alert alert-error" ng-show="errorMsg != null">
					<button type="button" class="close" ng-click="errorMsg = null">&times;</button>
					<strong>Error!</strong> {{ errorMsg }}
				</div>
			</div>
			<ng-include src="pages[page_index].url" class="offset3 span9" ng-animate="{enter: 'animated fadeInRight'}"></ng-include>
		</div>
		<div ng-include src="'survey_preview.html'" ng-switch-when="false"></div>
	</div>
</div>