<div>
	<script type="text/ng-template" id="permission_setting.html">
		<div class="modal-header">
			<h3>{{ 'APP_SETTING_PERM_ADD' | translate }}</h3>
		</div>
		<div class="modal-body">
			<form name="setting_form">
				<div class="form-group">
					<label class="control-label">{{ 'APP_SETTING_PERM_ACC' | translate }}</label>
					<input type="email" name="account" ng-model="account" required ng-readonly="!add_mode">
				</div>
				<br/>
				<div class="control-group">
					<label class="control-label">{{ 'APP_SETTING_PERM_ROLE' | translate }}</label>
					<div class="controls">
						<label class="radio inline">
							<input type="radio" ng-model="role" value="admin">
							<div translate="APP_SETTING_PERM_ADMIN"></div>
						</label>
						<label class="radio inline">
							<input type="radio" ng-model="role" value="viewer">
							<div translate="APP_SETTING_PERM_VIEWER"></div>
						</label>
					</div>
					<br/>
					<pre ng-show="role=='admin'">{{ 'APP_SETTING_PERM_ADMIN_DESC' | translate }}</pre>
					<pre ng-show="role=='viewer'">{{ 'APP_SETTING_PERM_VIEWER_DESC' | translate }}</pre>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button ng-click="delete(account)" class="btn btn-danger" translate="COMMON_DELETE" ng-show="!add_mode"></button>
			<button ng-click="cancel()" class="btn" translate="COMMON_CANCEL"></button>
			<button ng-click="ok(account,role)" class="btn btn-primary" ng-show="setting_form.account.$valid" translate="COMMON_OK"></button>
		</div>
	</script>

	<h3 translate="APP_SIDE_SETTING"></h3>
	<tabset type="'pills'">
		<tab>
			<tab-heading>{{ 'APP_SETTING_BASIC' | translate }}</tab-heading>
			<div class="form-horizontal text-left">
				<div class="control-group">
					<p class="control-label" translate="APP_SETTING"></p>
					<div class="controls">
						<p><code>{{ currentApp._id }}</code></p>
					</div>
				</div>
				<div class="control-group">
					<p class="control-label" translate="APP_SETTING_APP_NAME"></p>
					<div class="controls">
						<input type="text" ng-model="currentApp.name">
					</div>
				</div>
				<div class="control-group">
					<p class="control-label" translate="APP_SETTING_APP_SYSTEM"></p>
					<div class="controls">
						<label class="radio inline">
							<input type="radio" name="os" ng-model="currentApp.os" value="Android">Android
						</label>
						<label class="radio inline">
							<input type="radio" name="os" ng-model="currentApp.os" value="iOS">iOS
						</label>
					</div>
				</div>
				<div class="control-group">
					<p class="control-label" translate="APP_SETTING_APP_URL"></p>
					<div class="controls">
						<input type="url" class="input-xxlarge" ng-model="currentApp.url" placeholder="ex: https://play.google.com/store/apps/details?id=com.google.android.gm">
					</div>
				</div>
				<div class="control-group">
					<p class="control-label" translate="APP_SETTING_APP_CATEGORY"></p>
					<div class="controls">
						<select ng-model="currentApp.category"></select>
					</div>
				</div>
				<div class="control-group">
					<p class="control-label" translate="APP_SETTING_APP_PRICE"></p>
					<div class="controls">
						<label class="radio inline">
							<input type="radio" name="price" ng-model="currentApp.price" value="Free">
							<span translate="APP_SETTING_APP_FREE"></span>
						</label>
						<label class="radio inline">
							<input type="radio" name="price" ng-model="currentApp.price" value="Paid">
							<span translate="APP_SETTING_APP_PAID"></span>
						</label>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-danger" ng-click="deleteApp(currentApp)" translate="APP_SETTING_DELETE" ng-show="permission=='owner'"></button>
						<button class="btn btn-primary" ng-click="currentApp.$save()" translate="APP_SETTING_SAVE"></button>
					</div>
				</div>
			</div>
		</tab>
		<tab>
			<tab-heading>{{ 'APP_SETTING_PERMISSION' | translate }}</tab-heading>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'APP_SETTING_PERM_ACC' | translate }}</th>
						<th>{{ 'APP_SETTING_PERM_ROLE' | translate }}</th>
						<th>{{ 'APP_SETTING_PERM_SETTING' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(account, permission) in currentApp.permission track by account">
						<td>{{ account }}</td>
						<td>{{ perm_word_mapping[permission] }}</td>
						<td><a ng-click="changeSetting(account,permission)" ng-show="permission!='owner'"><i class="icon-wrench"></i></a></td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-primary pull-right" ng-click="addAccount()" translate="APP_SETTING_PERM_ADD"></button>
		</tab>
	</tabset>

</div>