<div class="container">
	<table ng-show="apps.length != 0" class="table table-striped">
		<thead>
			<tr>
				<th translate="APP_OVERVIEW_APP_NAME">Name</th>
				<th translate="APP_OVERVIEW_SYSTEM">System</th>
				<th translate="APP_OVERVIEW_ONGOING">Ongoing Surveys</th>
				<th translate="APP_OVERVIEW_RESPONSE">Totally Responses</th>
				<!--<th translate="APP_OVERVIEW_APP_NAME">Demographic Data</th>-->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="app in apps">
				<th><a href="#/myapp/{{$index}}">{{ app.name }}</a></th>
				<th>{{ app.os }}</th>
				<th>{{ app.survey_cnt }}</th>
				<th>{{ app.reply_cnt }}</th>
				<!--<th>300</th>-->
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<button ng-show="apps.length != 0" class="btn btn-primary" ng-click="openAddAppDialog()"><i class="icon-plus icon-white"></i> <span translate="APP_OVERVIEW_ADD"></span></button>
	</div>
	<div ng-show="apps.length == 0" class="span6 offset3 text-center">
		<img src="resource/img/inner/create_app.png">
		<h3 >No app yet</h3>
		<p translate="APP_OVERVIEW_EMPTY_DESC"></p>
		<p>
			<button class="btn btn-large btn-primary" ng-click="openAddAppDialog()"><i class="icon-plus"></i> <span translate="APP_OVERVIEW_ADD"></span></button>
			<br/>
			<span translate="APP_OVERVIEW_EMPTY_SEE">or See </span><a class="btn btn-link" href="#/tour" translate="TOUR_TITLE"></a>
		</p>
	</div>
</div>