<!DOCTYPE html>
<html>
<head>
	<title>Color</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="js/controller/ColorController.js"></script>

	<style type="text/css">
		.btn {
			-webkit-border-top-left-radius:6px;
			-moz-border-radius-topleft:6px;
			border-top-left-radius:6px;
			-webkit-border-top-right-radius:6px;
			-moz-border-radius-topright:6px;
			border-top-right-radius:6px;
			-webkit-border-bottom-right-radius:6px;
			-moz-border-radius-bottomright:6px;
			border-bottom-right-radius:6px;
			-webkit-border-bottom-left-radius:6px;
			-moz-border-radius-bottomleft:6px;
			border-bottom-left-radius:6px;
			border:1px solid #dcdcdc;
			display:inline-block;
			background-color: lightgray;
			/*border-bottom:1px solid gray;*/
			/*box-shadow:0px 1px 0px gray;*/
			font-size:14px;
			font-weight:bold;
			font-style:normal;
			height:44px;
			width:80px;
			text-decoration:none;
			text-align:center;
		}
		.btn:hover{
			background-color: gray;
		}
		.btn:active{
			position:relative;
			top:1px;
		}
	</style>
</head>
<body ng-app ng-controller="ColorController">
	<div ng-style="{'background-color':color.bg, 'color':color.text}" style="position: absolute; width:320px; height:480px; left:31px; top:130px;">
		<div ng-style="{'background-color':color.actionbar_bg,'color':color.actionbar_text}" style="padding-top: 13px; height: 31px; font-size: 18px; width:100%;text-align: center">Title</div>
		<canvas id="back" width="44" height="44" style="position: absolute; left:0px; top:4px;"></canvas>
		<div ng-style="{'background-color':color.actionbar_underline}" style="height: 2px; width:100%;"></div>
		<div ng-style="{'background-color':color.first_layer_bg,'color':color.first_layer_text}" style="padding-top: 6px; padding-bottom: 6px; height: 14px; font-size: 14px; padding-left: 10px; width:100%;">Layer1</div>
		<div ng-style="{'background-color':color.second_layer_bg,'color':color.second_layer_text}" style="padding-top: 6px; padding-bottom: 6px; height: 14px; font-size: 14px; padding-left: 20px; width:100%;">Layer2</div>
		<div ng-style="{'background-color':color.third_layer_bg,'color':color.third_layer_text}" style="padding-top: 6px; padding-bottom: 6px; height: 14px; font-size: 14px; padding-left: 30px; width:100%;">Layer3</div>
		<div style="padding:0px 10px 0px 10px;">
			<p>Icon</p>
			<canvas id="radio" width="44" height="44"></canvas>
			<canvas id="checkbox" width="44" height="44"></canvas>
			<p>Scale</p>
			<button class="btn" ng-style="{'background-color':color.scale_inactive_bg, 'color':color.scale_inactive_text}" style="width:55px; height:55px;">1</button>
			<button class="btn" ng-style="{'background-color':color.scale_active_bg, 'color':color.scale_active_text}" style="width:55px; height:55px;">2</button>
			<p>Button</p>
			<button class="btn" ng-style="{'background-color':color.button_bg,'color':color.button_text}" style="width:100%;">This is Button</button>
		</div>

		<button class="btn" ng-style="{'background-color':color.next_button_bg, 'color':color.next_button_text}" style="position:absolute; left:5px; bottom:13px;">Prev</button>
		<button class="btn" ng-style="{'background-color':color.next_button_bg, 'color':color.next_button_text}" style="position:absolute; right:5px; bottom:13px;">Next</button>

		<div ng-style="{'background-color':color.progress_active}" style="position:absolute; left:5px; bottom:5px; height:5px; width:167px;"></div>
		<div ng-style="{'background-color':color.progress_inactive}" style="position:absolute; right:5px; bottom:5px; height:5px; width:167px;"></div>
	</div>
	<img src="resource/img/iphone.png" style="position: absolute; left:0px; top:0px; width:380px; height:739px;">
	<div style="position: absolute; left:400px; top:0px; width:auto; height:auto;">
		<p>Mode : <button class='btn' ng-click="showColor=true">Color</button> <button class="btn" ng-click="showColor=false">Java</button></p>
		<div ng-hide="showColor">
			<textarea style="width:680px; height:500px;" id="java" ng-model="javaColor"></textarea>
			<p><button class='btn' ng-click="applyJava()">Apply</button></p>
		</div>
		<div ng-show="showColor">
			<h3>Main Color</h3>
			<p>icon: <input type="text" ng-model="color.icon">, bg: <input type="text" ng-model="color.bg">, text: <input type="text" ng-model="color.text"></p>
			<h3>Action Bar</h3>
			<p>actionbar_bg : <input type="text" ng-model="color.actionbar_bg">, actionbar_text : <input type="text" ng-model="color.actionbar_text">, actionbar_underline : <input type="text" ng-model="color.actionbar_underline"></p>
			<h3>Navigation Layer</h3>
			<p>first_layer_bg : <input type="text" ng-model="color.first_layer_bg">, first_layer_text : <input type="text" ng-model="color.first_layer_text"></p>
			<p>second_layer_bg : <input type="text" ng-model="color.second_layer_bg">, second_layer_text : <input type="text" ng-model="color.second_layer_text"></p>
			<p>third_layer_bg : <input type="text" ng-model="color.third_layer_bg">, third_layer_text : <input type="text" ng-model="color.third_layer_text"></p>
			<h3>Scale</h3>
			<p>scale_active_bg : <input type="text" ng-model="color.scale_active_bg">, scale_active_text : <input type="text" ng-model="color.scale_active_text"></p>
			<p>scale_inactive_bg : <input type="text" ng-model="color.scale_inactive_bg">, scale_inactive_text : <input type="text" ng-model="color.scale_inactive_text"></p>
			<h3>Button</h3>
			<p>button_bg : <input type="text" ng-model="color.button_bg">, button_text : <input type="text" ng-model="color.button_text"></p>
			<p>next_button_bg : <input type="text" ng-model="color.next_button_bg">, next_button_text : <input type="text" ng-model="color.next_button_text"></p>
			<h3>Progress Bar</h3>
			<p>progress_active : <input type="text" ng-model="color.progress_active">, progress_inactive : <input type="text" ng-model="color.progress_inactive"></p>
		</div>
	</div>

</body>
</html>