<div ng-controller="DemographyController">
	<h3>Demography Info</h3>
	<legend>Report Number</legend>
	<p class="lead">{{ totalNumber | number:0 }} replays</p>
	<div class="row-fluid" ng-repeat="demo_filter in filters">
		<legend>{{ demo_filter.name }}</legend>
		<canvas donutchart options="{title:raw_data.percentage,subtitle:raw_data.key,percentageInnerCutout:70}" data="raw_data.chartData" width="150" height="150" ng-repeat="raw_data in demo_filter.data"></canvas>
	</div>
</div>