<!DOCTYPE html>
<html ng-app="usercafe" ng-controller="rootController">
<head>
	<title>User Cafe</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
	<script src="js/lib/ui-bootstrap-tpls-0.6.0.min.js"></script>
	<script src="js/lib/angular-translate.min.js"></script>

	<script src="js/utils/dialog.js"></script>
	<script src="js/utils/login.js"></script>
	<script src="js/utils/survey.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controller/NewSurveyViewController.js"></script>
	<script src="js/controller/AppDetailViewController.js"></script>
	<script src="js/controller/DemographyController.js"></script>
	<script src="js/controller/AppOverviewViewController.js"></script>
	<script src="js/controller/AddAppDialogViewController.js"></script>
	<script src="js/controller/SurveyViewController.js"></script>
	<script src="js/controller/TourViewController.js"></script>
	<script src="js/controller/DocViewController.js"></script>
	<script src="js/controller/SurveyPreviewViewController.js"></script>
	<script src="js/service/UserCafeService.js"></script>
	<link href="resource/css/usercafe.css" rel="stylesheet">
	<link href="resource/css/lib/animate.min.css" rel="stylesheet">

	<!--<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css" rel="stylesheet">-->
	<link href="resource/css/lib/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse" style="width:100%;">
						<a href="#/myapp" class="brand">User Cafe</a>

						<div class="navbar-text pull-right dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black">{{ email }} <img src="resource/img/inner/cs_down.png">
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" translate="MENU_SETTING"></a></li>
								<li class="divider"></li>
								<li class="dropdown-header" translate="MENU_LANGUAGE"></li>
								<li><a href="javascript:void(0)" ng-click="selectLanguage('en')" translate="MENU_ENG"></a></li>
								<li><a href="javascript:void(0)" ng-click="selectLanguage('cht')" translate="MENU_CHT"></a></li>
								<li class="divider"></li>
								<li><a href="javascript:void(0)" ng-click="logout()" translate="MENU_LOGOUT"></a></li>
							</ul>
						</div>

						<ul class="nav pull-center" style="margin-top: 10px;">
							<li ng-class="active_state(0)">
								<a href="#/myapp" translate="APP_TITLE"></a>
							</li>
							<li ng-class="active_state(1)">
								<a href="#/integration" translate="DOC_TITLE"></a>
							</li>
							<li ng-class="active_state(2)">
								<a href="#/tour" translate="TOUR_TITLE"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="wrap">
		<div ng-view style="padding-top: 75px;"></div>
		<div id="push"></div>
	</div>

	<div id="footer">
		<div class="container">
			<p style="margin-top: 20px;">Contact Us: <a href="mailto:usercafeservice@gmail.com">usercafeservice@gmail.com</a></p>
		</div>
	</div>
</body>
</html>