<div class="container" ng-controller="DocController">
	<div class="row">
		<div class="span3" style="margin-top:20px;position: fixed;">
			<p>Platform</p>
			<tabset vertical="true" type="'pills'">
				<tab heading="Android" select="type='android'"></tab>
				<tab heading="iOS" select="type='ios'"></tab>
			</tabset>
		</div>
		<ng-include ng-show="type=='android'" src="'android.html'" class="offset3 span9"></ng-include>
		<ng-include ng-show="type=='ios'" src="'ios.html'" class="offset3 span9"></ng-include>
	</div>
</div>