<div class="modal">
	<div class="modal-header">
		<h3>Push</h3>
	</div>
	<div class="modal-body">
		<p class="text-center">Use the form at the right to add a new app</p>
		<form class="form-horizontal" name="addAppForm">
			<div class="control-group">
				<label class="control-label">App Name</label>
				<div class="controls">
					<input type="text" ng-model="app.name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">OS</label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" name="os" ng-model="app.os" value="Android">Android
					</label>
					<label class="radio inline">
						<input type="radio" name="os" ng-model="app.os" value="iOS">iOS
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">App Url</label>
				<div class="controls">
					<input type="url" ng-model="app.url">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Category</label>
				<div class="controls">
					<select ng-model="app.category"></select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Price</label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" name="price" ng-model="app.price" value="Free">Free
					</label>
					<label class="radio inline">
						<input type="radio" name="price" ng-model="app.price" value="Paid">Paid
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="addApp()">Save</button>
		<button class="btn" ng-click="closeDialog()">Cancel</button>
	</div>
</div>