<div class="preview_content">
	<h4>{{ question.title }}</h4>
	<p>{{ question.desc }}</p>
	<!-- input -->
	<textarea placeholder="Please Input the Answer" rows="5" readonly class="input-block-level" ng-show="question.type == 0 || question.type == 1"></textarea>
	<!-- list -->
	<label ng-show="question.type == 2 || question.type == 4" ng-repeat="option in question.options" class="radio">
		<input type="radio" disabled>
		{{ option }}
	</label>
	<!-- checkbox -->
	<label ng-show="question.type == 3" ng-repeat="option in question.options" class="checkbox">
		<input type="checkbox" disabled>
		{{ option }}
	</label>
</div>
