<!DOCTYPE html>
<html ng-app="usercafe" ng-controller="responseController">
<head>
	<title>Response</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css" rel="stylesheet">
	<script src="js/lib/ui-bootstrap-tpls-0.6.0.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="js/response.js"></script>
	<script src="js/controller/ChartController.js"></script>
</head>
<body>
	<header class="header" ng-style="{width:(160.8 * titles.length)+'px'}">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
						<div class="brand">User Cafe Analytics</div>
						<ul class="nav">
							<li ng-class="{true: 'active', false: ''}[selection == 'table']">
								<a href="javascript:void(0)" ng-click="selection='table'">Table</a>
							</li>
							<li ng-class="{true: 'active', false: ''}[selection == 'chart']">
								<a href="javascript:void(0)" ng-click="selection='chart'">Chart</a>
							</li>
						</ul>
					</div>
					<button class="btn pull-right" style="margin-top: 7px;">Export</button>
				</div>
			</div>
		</div>
	</header>
	<div class="switch-container" ng-switch on="selection" style="margin-top: 51px;" >
		<div ng-switch-when="table">
			<table class="table table-condensed table-bordered table-striped table-hover" ng-style="tableStyle">
				<thead style="overflow: hidden;">
				<tr>
					<th ng-repeat="title in titles" width="150" >
						<a href="javascript:void(0)" ng-click="sortByKey(title.field)">
							{{ title['displayName'] }}
						</a>
					</th>
				</tr>
				</thead>
				<tbody style="overflow: auto;">
				<tr ng-repeat="answer in answers | orderBy:predicate:reverse">
					<td ng-repeat="title in titles" width="150" style="word-wrap:break-word;"><small>{{ answer[title.field] }}</small></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div ng-switch-when="chart" ng-controller="ChartController">
			<div class="span3">
				<tabset vertical="true" type="'tabs'">
					<h4>Questions</h4>
					<tab heading="{{ stat.title }}" ng-repeat="stat in stats" select="selectQuestion($index)"></tab>
				</tabset>
			</div>
			<div class="span9" id=chart></div>
		</div>
	</div>
</body>
</html>