<div ng-controller="SurveyViewController">
	<script type="text/ng-template" id="qrcode.html">
		<div class="modal-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="modal-body">
			<p>{{ 'DOWNLOAD_APP' | translate }}</p>
			<p>
				<img src="resource/img/googleplay.jpeg">
				<img src="resource/img/applestore.png">
			</p>
			<img ng-src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl={{text}}" class="img-polaroid">
		</div>
		<div class="modal-footer">
			<button ng-click="ok()" class="btn btn-primary" translate="COMMON_OK"></button>
		</div>
	</script>
	<script type="text/ng-template" id="escape.html">
		<div class="modal-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="modal-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'SURVEY_ESCAPE_FINISHED_TITLE' | translate }}</th>
						<th>{{ 'SURVEY_ESCAPE_FINISHED_CNT' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="escape in escapes">
						<th>{{ escape.title }}</th>
						<th>{{ escape.cnt }}</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<span class="pull-left">{{ 'SURVEY_ESCAPE_TOTAL_FILLED' | translate }} {{ total }} </span>
			<button ng-click="ok()" class="btn btn-primary" translate="COMMON_OK"></button>
		</div>
	</script>
	<script type="text/ng-template" id="setting.html">
		<div class="modal-header">
			<h3>{{ current_survey.title }}</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="key">{{ 'SURVEY_SETTING_KEY' | translate }} <i class="icon-question-sign" tooltip-placement="right" tooltip="{{ 'SURVEY_SETTING_KEY' | translate }}"></i></label>
				<code id="key">{{ current_survey._id }}</code>
			</div>
			<br/>
			<div class="control-group">
				<label class="control-label">{{ 'ALIAS_TITLE' | translate }} <i class="icon-question-sign" tooltip-placement="right" tooltip="{{ 'ALIAS_TITLE' | translate }}"></i></label>
				<div class="controls">
					<input type="text" ng-model="alias" ng-change="checkMappingConflict(alias)">
				</div>
				<div class="alert alert-warn" ng-show="is_conflict" translate="ALIAS_ERROR">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">{{ 'SURVEY_SETTING_REPEAT' | translate }} <i class="icon-question-sign" tooltip-placement="right" tooltip="{{ 'SURVEY_SETTING_REPEAT' | translate }}"></i></label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" ng-model="repeat" value="1">
						<div translate="SURVEY_SETTING_ALLOW"></div>
					</label>
					<label class="radio inline">
						<input type="radio" ng-model="repeat" value="0">
						<div translate="SURVEY_SETTING_DISALLOW"></div>
					</label>
				</div>
			</div>
			<br/>

			<div class="control-group">
				<label class="control-label">{{ 'SURVEY_SETTING_DEMOGRAPHY' | translate }} <i class="icon-question-sign" tooltip-placement="right" tooltip="{{ 'SURVEY_SETTING_DEMOGRAPHY' | translate }}"></i></label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" ng-model="demography" value="1">
						<div translate="SURVEY_SETTING_ENABLE"></div>
					</label>
					<label class="radio inline">
						<input type="radio" ng-model="demography" value="0">
						<div translate="SURVEY_SETTING_DISABLE"></div>
					</label>
				</div>
			</div>
			<br/>
			<div class="form-group">
				<label class="control-label">{{ 'SURVEY_SETTING_DEVICEINFO' | translate }} <i class="icon-question-sign" tooltip-placement="right" tooltip="{{ 'SURVEY_SETTING_DEVICEINFO' | translate }}"></i></label>
				<ul id="info" class="unstyled">
					<li ng-repeat="(key,value) in device_info track by $index">
						<input type="checkbox" ng-model="device_info[key]" /> {{ key }}
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="delete()" class="btn btn-danger" translate="SURVEY_DELETE"></button>
			<button ng-click="cancel()" class="btn" translate="COMMON_CANCEL"></button>
			<button ng-click="ok(demography,repeat)" class="btn btn-primary" translate="COMMON_OK"></button>
		</div>
	</script>

	<h3 translate="APP_SIDE_SURVEY_LIST">Survey List</h3>
	<div ng-show="surveys.length != 0">
		<table class="table table-striped" ng-show="surveys != null">
			<thead>
			<tr>
				<th><a href="javascript:void(0)" translate="SURVEY_TITLE" ng-click="sortByKey('title')"></a></th>
				<th><a href="javascript:void(0)" translate="SURVEY_UPDATE_TIME" ng-click="sortByKey('update_time')"></a></th>
				<th><a href="javascript:void(0)" translate="SURVEY_REPLY" ng-click="sortByKey('reply')"></a></th>
				<!--<th>Push</th>-->
				<th translate="SURVEY_SETTING" ng-show="role!='viewer'"></th>
				<th translate="SURVEY_SHOW" ng-show="role!='viewer'"></th>
				<th translate="SURVEY_REUPLOAD" ng-show="role!='viewer'"></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="survey in surveys | orderBy:predicate:reverse">
				<th>
					<img src="resource/img/ajax-loader.gif" ng-show="survey.loading == true"/>
					<a ng-click="openPreview(survey)">{{ survey.title }}</a>
			    	<a ng-href="{{ survey.url }}" target="_blank" style="font-size: 12px;" class="pull-right">link</a>
				</th>
				<th>{{ survey.update_time*1000 | date:'yyyy-MM-dd' }}</th>
				<th>
					<!--<div ng-show="survey.reply == 0">0</div>-->
					<div>(
						<a ng-click="openEscape(survey)">{{ 'SURVEY_REPLY_ANALYSIS' | translate }}</a>,
						<a ng-click="loadResponse(survey)">{{ 'SURVEY_REPLY_ANSWER' | translate }}</a>)
					</div>
				</th>
				<!--<th><a ng-click="openPush(survey)"><i class="icon-arrow-down"></i></a></th>-->
				<th><a ng-click="openInfo(survey)" ng-show="role!='viewer'"><i class="icon-wrench"></i></a></th>
				<th><a ng-click="showSurvey(survey)" ng-show="role!='viewer'"><i class="icon-qrcode"></i></a></th>
				<th><a ng-click="reloadSurvey(survey)" ng-show="role!='viewer'"><i class="icon-repeat"></i></a></th>
			</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="surveys != null && surveys.length == 0" class="hero-unit" style="padding-top: 20px">
		<!--<h3>How to start</h3>-->

		<div class="row-fluid">
			<br/>
			<p class="span8 offset2" translate="SURVEY_EMPTY_STEP1"></p>
			<p class="span8 offset2" translate="SURVEY_EMPTY_STEP2"></p>
			<button class="span8 offset2 btn btn-primary btn-block" translate="SURVEY_EMPTY_CREATE" ng-click="select_tab(2)"></button>
			<!--<div class="span4">-->
				<!--<p>This is Head</p>-->
				<!--<img src="resource/img/sample.png"/>-->
				<!--<p class="text-left">-->
					<!--This is desc This is desc This is desc This is desc This is desc-->
				<!--</p>-->
			<!--</div>-->
			<!--<div class="span4">-->
				<!--<p>This is Head</p>-->
				<!--<img src="resource/img/sample.png"/>-->
				<!--<p class="text-left">-->
					<!--This is desc This is desc This is desc This is desc This is desc-->
				<!--</p>-->
			<!--</div>-->
			<!--<div class="span4">-->
				<!--<p>This is Head</p>-->
				<!--<img src="resource/img/sample.png"/>-->
				<!--<p class="text-left">-->
					<!--This is desc This is desc This is desc This is desc This is desc-->
				<!--</p>-->
			<!--</div>-->
		</div>
	</div>
</div>