<div class="row-fluid" ng-controller="SurveyPreviewViewController">
	<div class="span4">
		<carousel interval="Infinity">
			<slide ng-repeat="question in questions" active="question.active">
				<img src="resource/img/iphone.png" style="margin:auto;">
				<div class="question">
					<div ng-include src="'question.html'"></div>
				</div>
			</slide>
		</carousel>
	</div>
	<div class="span8">
		<ul class="thumbnails">
			<li class="span3" style="margin:0px; padding:3px;" ng-repeat="question in questions">
				<a class="btn thumbnail btn-inverse" style="height:144px;" ng-click="question.active = true">
					<p>{{ question.title }}</p>
				</a>
			</li>
		</ul>
	</div>
</div>