<div class="container">
	<div class="text-center" style="margin-top: 40px; color:#898989;">
		<p style="font-size: 60px">How</p>
		<p>to Start User Cafe</p>
	</div>
	<br/>
	<div class="row">
		<div class="span4">
			<div id="left" style="width:45%;float:left;margin-top:25px;">
				<div style="height: 200px; margin-right: 10px;" class="text-right">
					<p class="lead">Step1</p>
				</div>
				<div style="height: 200px; margin-right: 10px;" class="text-right">
					<p class="lead">Step2</p>
				</div>
				<div style="height: 200px; margin-right: 10px;" class="text-right">
					<p class="lead">Step3</p>
				</div>
				<div style="height: 200px; margin-right: 10px;" class="text-right">
					<p class="lead">Step4</p>
				</div>
				<div style="height: 200px; margin-right: 10px;" class="text-right">
					<p class="lead">Step5</p>
				</div>
			</div>
			<div id="center" style="margin-top:40px;height:814px;width:14px;float:left;background:url(resource/img/inner/dashed_line2.png) repeat;">
			</div>
			<div id="right" style="width:45%;float:left;">
				<img src="resource/img/inner/tour_1.png" style="margin-top: 0px">
				<img src="resource/img/inner/tour_2.png" style="margin-top: 108px">
				<img src="resource/img/inner/tour_3.png" style="margin-top: 108px">
				<img src="resource/img/inner/tour_4.png" style="margin-top: 108px">
				<img src="resource/img/inner/tour_5.png" style="margin-top: 108px">
			</div>
		</div>
		<div class="span8">
			<div style="height:200px;">
				<p class="lead" translate="TOUR_STEP1_TITLE"></p>
				<p translate="TOUR_STEP1_DESC"></p>
			</div>
			<div style="height:200px;">
				<p class="lead" translate="TOUR_STEP2_TITLE"></p>
				<p translate="TOUR_STEP2_DESC"></p>
			</div>
			<div style="height:200px;">
				<p class="lead" translate="TOUR_STEP3_TITLE"></p>
				<p translate="TOUR_STEP3_DESC"></p>
			</div>
			<div style="height:200px;">
				<p class="lead" translate="TOUR_STEP4_TITLE"></p>
				<p translate="TOUR_STEP4_DESC"></p>
			</div>
			<div style="height:200px;">
				<p class="lead" translate="TOUR_STEP5_TITLE"></p>
				<p translate="TOUR_STEP5_DESC"></p>
			</div>
		</div>
	</div>
</div>